body {
    margin: 0;
    padding: 0; 
} 

#game-screen {
    display: block; 
}

#gameOver, #playHUD, #startgame {
    position: absolute; 
    visibility:  hidden; 
} 

h1, h2, h3 {
    font-family: 'Londrina Sketch', cursive; 
    color: black; 
    text-align: center; 
}

.title{
    font-size: 62px; 
    margin-bottom: 0px; 
    margin-top: 0px; 
}

#restartButton, #play:hover {
    
    border: 2px solid black; 
    border-radius: 10px; 
}

#restartButton:hover {
  background-color: cyan;
}

#scoreboard {
    margin: 0px;  
}